@{
    ViewBag.Title = "Projected Fuel Rates";
}
<div id="pcontent">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px;">
            <div class="panel panel-default card-view panel-refresh">
                <div class="refresh-container">
                    <div class="la-anim-1"></div>
                </div>
                <div class="panel-heading">
                    <div class="pull-left" style="display: inline-flex;">
                        <i class="fa fa-wpforms" style="padding-top: 4px;margin-right: 5px;color:#fff;"></i>
                        <h6 class="panel-title txt-light">@ViewBag.Title</h6>
                    </div>
                    <div class="pull-right">
                        <a class="pull-left inline-block mr-15" data-toggle="collapse" href="#collapse_1" aria-expanded="true">
                            <i class="zmdi zmdi-chevron-down"></i>
                            <i class="zmdi zmdi-chevron-up"></i>
                        </a>


                        <a href="#" class="pull-left inline-block full-screen mr-15">
                            <i class="zmdi zmdi-fullscreen"></i>
                        </a>
                        @*<a class="pull-left inline-block close-panel" href="#" data-effect="fadeOut">
                                <i class="zmdi zmdi-close"></i>
                            </a>*@
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="collapse_1" class="panel-wrapper collapse in">
                    <div class="panel-body">

                        <div class="tab0">
                            &nbsp;<div class="tab1">&nbsp;Header</div>
                            <div class="tab2">&nbsp;</div>
                        </div>

                        <div style="margin-bottom: 20px;">
                            <table class="tblFrm" id="MainFrm">
                                <tr>

                                    <td style="width: 25%;">
                                        <label for="Disconame">Power Producer</label>
                                    </td>
                                    <td colspan="3" style="width: 75%;">
                                        @*<input type="text" class="form-control" id="txtIPPTitle" disabled="disabled" />*@
                                        <select id="txtIPPTitle" class="form-control">@Html.Raw(@ViewBag.IPP)</select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 25%;">
                                        <label for="Disconame" class="fno" style="display:none;">Forecast No</label>
                                    </td>
                                    <td style="width: 25%;">
                                        <input type="text" value="" class="form-control frm fno" readonly style="display:none;" />
                                    </td>
                                    <td style="width: 25%;">
                                        <label for="Disconame">Economic Period</label>
                                    </td>
                                    <td style="width: 25%;">
                                        <select class="form-control frm" id="dllPeriod"> @Html.Raw(@ViewBag.dllPeriod)</select>
                                    </td>
                                </tr>



                                <tr>
                                    <td style="width: 25%;">
                                        <label for="Disconame">Producer Site</label>
                                    </td>
                                    <td style="width: 25%;">
                                        <select class="form-control frm" id="ddlVendors"> @Html.Raw(@ViewBag.VendorSite)</select>
                                    </td>


                                    <td style="width: 25%;">
                                        <label for="Disconame">Status</label>
                                    </td>
                                    <td style="width: 25%;">
                                        <input type="text" id="txtsts" value="Draft" class="form-control frm" readonly>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 25%;">
                                        <label for="Disconame">Block </label>
                                    </td>
                                    <td style="width: 25%;">
                                        <select class="form-control frm" id="ddlBlocks"></select>
                                    </td>

                                    <td style="width: 25%;">
                                        <label for="Disconame">Fuel  </label>
                                    </td>
                                    <td style="width: 25%;">
                                        <select id="ddlFuel" class="form-control"></select>
                                    </td>


                                </tr>

                                <tr>
                                    <td style="width: 25%;">
                                        <label for="Disconame">Remarks </label>
                                    </td>
                                    <td colspan="3" style="width: 75%;">
                                        <input id="txtrmx" type="text" value="" class="form-control frm" />
                                    </td>





                                </tr>




                            </table>


                        </div>@*END OF tab0*@

                        <div class="tab0">
                            &nbsp;<div class="tab1">&nbsp;Opening Stock</div>
                            <div class="tab2">&nbsp;</div>
                        </div>



                        <div style="margin-bottom: 20px;">




                            <table style="width: 100%;" class="rmv">

                                <tr>
                                    <td style="width:8%; text-align:right;">
                                        Fuel Supplier
                                    </td>
                                    <td style="width: 20%;">
                                        @*<input type="text" class="form-control" id="txtDesc" />*@
                                        <select id="txtDesc" class="form-control">@Html.Raw(@ViewBag.ddlFuelSupplier)</select>
                                    </td>
                                    <td style="width: 8%; text-align:right;">
                                        Quantity (M Tons)
                                    </td>
                                    <td style="width: 20%;">
                                        <input type="text" class="form-control clsFloat" id="txtQty" style="background-color: rgb(251, 255, 193);text-align:right;" />
                                    </td>
                                    <td style="width: 8%; text-align:right;">
                                        Rate (Rs. / M Ton)
                                    </td>
                                    <td  style="width: 20%;">
                                        <input type='text' class="form-control clsFloat" id="txtRate" style="background-color: rgb(251, 255, 193);text-align:right;" />
                                    </td>
                                    @*<td  style="width: 10%;">Rate With Tax (Rs. / M Ton) </td>*@
                                    @*<td style="width: 10%;">
                                        <input type='text' class="form-control clsFloat" id="txtTaxRate" style="background-color: rgb(251, 255, 193);text-align:right;" />
                                    </td>*@
                                    <td style="text-align: right; display: inline-flex;">
                                        <button class="btn btn-info" type="button" id="btnAddRowOS" style="margin-right:20px;" title="Add row for opening stock"><i class="fa fa-plus-square-o mr-10"></i>Add Row</button>
                                        <button class="btn" type="button" id="btnCancelRowOS" title="Cancel" style="color:black;">Cancel</button>
                                    </td>

                                </tr>
                            </table>
                            <table class="tablesaw table-bordered table-hover table" dels="" data-tablesaw-mode="swipe" id="tblRates">
                                <thead style="font-weight:bold;">
                                    <tr>
                                        <th style="text-align:center;">Stock Description</th>
                                        <th style="text-align:center;width: 200px;">Quanity (M Tons)</th>
                                        <th style="text-align:center;width: 200px;">Rate (Rs. / M Ton)</th>
                                        <th style="text-align:center;width: 200px;">Amount (Rs.)</th>
                                        <th style="width:40px"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>

                            </table>
                        </div>

                        <div class="tab0">
                            &nbsp;<div class="tab1">&nbsp;Fuel Rates</div>
                            <div class="tab2">&nbsp;</div>
                        </div>
                        <div style="margin-bottom: 20px;">

                            <table style="width: 100%;" class="rmv">

                                <tr>
                                    <td style="width:10%; text-align:right;">
                                        Fuel Supplier
                                    </td>
                                    <td style="width: 16%;">
                                        <select id="ddlFuelSupplier" class="form-control">@Html.Raw(@ViewBag.ddlFuelSupplier)</select>
                                    </td>
                                    <td style="width:10%; text-align:right;">
                                        Quanity (M Tons)
                                    </td>
                                    <td style="width: 16%;">
                                        <input type="text" class="form-control clsFloat" id="txtQtyFS" style="background-color: rgb(251, 255, 193);text-align:right;" />
                                    </td>
                                    <td style="width:10%; text-align:right;">
                                        Rate (Rs. / M Ton)
                                    </td>
                                    <td style="width: 16%;">
                                        <input type='text' class="form-control clsFloat" id="txtRateFS" style="background-color: rgb(251, 255, 193);text-align:right;" />
                                    </td>
                                    <td style="width:10%; text-align:right;">
                                        Transportation / Other Charges
                                    </td>
                                    <td style="width: 10%;">
                                        <input type='text' class="form-control clsFloat" id="txtTransFS" style="background-color: rgb(251, 255, 193);text-align:right;" />
                                    </td>
                                    <td style="text-align: right; display: inline-flex;">
                                        <button class="btn btn-info" type="button" id="btnAddRowFS" style="margin-right:20px;" title="Add row for opening stock"><i class="fa fa-plus-square-o mr-10"></i>Add Row</button>
                                        <button class="btn" type="button" id="btnCancelRowFS" title="Cancel" style="color:black">Cancel</button>
                                    </td>

                                </tr>
                            </table>
                            <table class="tablesaw table-bordered table-hover table" dels="" data-tablesaw-mode="swipe" id="tblRatesFS">
                                <thead style="font-weight:bold;">
                                    <tr>
                                        <th style="text-align:center;">Fuel Supplier</th>
                                        <th style="text-align:center;width: 200px;">Quanity (M Tons)</th>
                                        <th style="text-align:center;width: 200px;">Rate (Rs. / M Ton)</th>
                                        <th style="text-align:center;width: 200px;">Transportation / Other Charges</th>
                                        <th style="text-align:center;width: 200px;">Amount (Rs.)</th>
                                        <th style="width:40px"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>

                            </table>
                        </div>@*END OF tab0*@

                        <div class="tab0">
                            &nbsp;<div class="tab1">&nbsp;Fuel Forecast</div>
                            <div class="tab2">&nbsp;</div>
                        </div>
                        <div style="margin-bottom: 20px;">
                            <style type="text/css">
                                .frmx {
                                    text-align: right;
                                }
                            </style>
                            <div id="tblContainer"></div>
                        </div>


                        <div class="tab0">
                            &nbsp;<div class="tab1">&nbsp;Attachments</div>
                            <div class="tab2">&nbsp;</div>
                        </div>


                        <div style="margin-bottom: 20px;">
                            <button id="btnAddFiles" style="float:right;" class="btn btn-info rmv" type="button">
                                <i class="fa fa-paperclip mr-15"></i> Attachments
                            </button>
                            <table class="table table-bordered" dellist="" data-tablesaw-mode="swipe" id="tbl_attach">
                                <thead>
                                    <tr>
                                        <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">
                                            Title
                                        </th>
                                        <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">
                                            Description
                                        </th>
                                        <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">
                                            Details
                                        </th>
                                        <th class="clstdEdit" style="width:36px;" scope="col" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col="" data-tablesaw-priority="3"></th>
                                        <!--id="btnFileDel"-->
                                        <th class="clstdDelete" style="width:36px;" scope="col" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col="" data-tablesaw-priority="3"></th>
                                        <th class="clstdDownload" scope="col" style="width:36px;" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col="" data-tablesaw-priority="3"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>




                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">

                                    <button id="btnSave" value=@ViewBag.tag tag="Draft" class="btn btn-info clsAction rmv" type="button" style="margin-right:20px;">
                                        Save
                                    </button>
                                    <button id="btnSubmit" value=@ViewBag.tag tag="Submitted" class="btn btn-success clsAction rmv" type="button" style="margin-right:20px;">
                                        Submit
                                    </button>
                                    <button id="btnClose" value=@ViewBag.tag tag="Draft" class="btn btn-default clsAction" type="button">
                                        Close
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" title="Attach File" style="display:none;">
            <div class="form-group">
                <label class="control-label mb-10" for="attachmentFile">
                    Select File
                </label>
                <div class="input-group" style="width:100%;">
                    <input style="padding-bottom: 50px;" class="form-control" id="attachmentFile" name="attachmentFile" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, application/pdf, image/*" type="file">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label mb-10" for="attachmentTitle">
                    Attachment Title *
                </label>
                <div class="input-group" style="width:100%;">
                    <input name="attachmentTitle" style="padding-right: 300px;" class="form-control" id="attachmentTitle" placeholder="Attachment Title" maxlength="50" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label mb-10" for="attachmentType">
                    Attachment Type
                </label>
                <div class="input-group" style="width:100%;">
                    <select id="attachmentType" class="form-control" disabled="disabled" style="width:100%;">
                        <option>File</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label mb-10" for="attachmentDesc">
                    Description
                </label>
                <div class="input-group" style="width:100%;">
                    <textarea style="resize: none;" maxlength="100" name="attachmentTitle" cols="50" class="form-control" id="attachmentDesc" placeholder="Description Title" rows="4"></textarea>
                </div>
            </div>
            <div style="text-align:right;">
                <button type="button" tg="0" typ="0" class="btn btn-info" id="btnUpload" name="btnUpload">
                    Attach File
                </button>
                <button type="button" id="btnCloseDialog" class="btn btn-default">
                    Close
                </button>
            </div>
        </div>



        <script type="text/javascript">
            $(document).ready(function () {
                //Attachments///////////////////////////////////////////////////////
                $('#myModal').dialog({
                    autoOpen: false,
                    height: 800,
                    width: 650,
                    modal: true,
                    show: {
                        effect: "clip",
                        duration: 500
                    },
                    hide: {
                        effect: "clip",
                        duration: 500
                    }
                });
                $('body').off('change', '#txtIPPTitle');
                $('body').on('change', '#txtIPPTitle', function (e) {
                    LoadVendorSites();
                });// End of change
                function LoadVendorSites() {

                    var fromdata = new FormData();
                    fromdata.append('vls', '7½' + $('#txtIPPTitle').val());
                    $.ajax({
                        type: "POST",
                        url: "/EMO/AjaxCall" + $(location).attr("search"),
                        data: fromdata,
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            $('#ddlVendors').html(response);
                            if ($('#ddlVendors').val() != null || $('#ddlVendors').val() != undefined) {
                                var fromdata = new FormData();
                                fromdata.append("vls", '0½' + $('#ddlVendors').val());
                                $.ajax({
                                    type: "POST",
                                    url: "/EMO/AjaxCall" + $(location).attr("search"),
                                    data: fromdata,
                                    contentType: false,
                                    processData: false,
                                    success: function (response) {
                                        $('#ddlBlocks').html(response);
                                        Load_ddlFuel();
                                    }
                                });
                            }
                            else {
                                $('#ddlBlocks').html('');
                                $('#ddlFuel').html('');
                                $('#tblContainer').html('');
                            }
                        }
                    });
                }//END OF LOAD

                $('body').off('click', '#btnAddFiles');
                $('body').on('click', '#btnAddFiles', function (e) {
                    e.preventDefault();
                    $('#attachmentTitle').val('');
                    $('#attachmentDesc').val('');
                    $('#btnUpload').attr('tg', '0');
                    $('#btnUpload').attr('typ', "0");
                    $('#myModal').dialog('open');
                });//end of btnAddFiles

                $('body').off("click", '#btnCloseDialog');
                $('body').on("click", '#btnCloseDialog', function (e) {
                    e.preventDefault();
                    $('#myModal').dialog('close');
                    $('#attachmentTitle').val('');
                    $('#attachmentDesc').val('');
                    $('#attachmentFile').val('');
                    try {
                        if ($.browser.msie) {
                            $('#attachmentFile').replaceWith($('#attachmentFile').clone());
                        }
                        else {
                            $('#attachmentFile').val('');
                        }
                        $('#attachmentFile').html('');
                    } catch (e) {
                        return false;
                    }
                });


                $('body').off('click', '.fileedit');
                $('body').on('click', '.fileedit', function (e) {
                    e.preventDefault();
                    var fid = $(this).parent().parent().parent().attr('fileid');
                    var $tr = $(this).parent().parent().parent();
                    $('#tbl_attach tbody tr').removeAttr('bisedit');
                    $tr.attr('bisedit', 'bisedit');
                    $('#attachmentTitle').val($tr.attr('ftitle'));
                    $('#attachmentDesc').val($tr.attr('fdescription'));
                    $('#btnUpload').attr('tg', fid);
                    $('#btnUpload').attr('typ', "1");
                    $('#myModal').dialog('open');
                });//END OF Edit BUTNN


                $('body').off('click', '#btnUpload');
                $('body').on('click', '#btnUpload', function (e) {
                    e.preventDefault();
                    var $typ = $(this).attr('typ');
                    var $tg = $(this).attr('tg');
                    if ($('#attachmentFile')[0].files.length == 0 && $(this).attr('typ') == "0") {
                        swal({
                            title: "Error",
                            text: "Please Select File!",
                            type: "warning"
                        });
                        return false;
                    }
                    if ($('#attachmentTitle').val() == '') {
                        swal({
                            title: "Error",
                            text: "Please enter attachment title!",
                            type: "warning"
                        });
                        return false;
                    }
                    if ($('#attachmentFile')[0].files.length == 0 && $typ == "1") {
                        $('#tbl_attach tbody tr[bisedit="bisedit"]').attr('ftitle', $('#attachmentTitle').val());
                        $('#tbl_attach tbody tr[bisedit="bisedit"]').attr('fdescription', $('#attachmentDesc').val());
                        $($('#tbl_attach tbody tr[bisedit="bisedit"]').find('td')[0]).html('<span>' + $('#attachmentTitle').val() + '</span>');
                        $($('#tbl_attach tbody tr[bisedit="bisedit"]').find('td')[1]).html('<span>' + $('#attachmentDesc').val() + '</span>');
                        if ($tg != "0") {
                            $('#tbl_attach tbody tr[bisedit="bisedit"]').attr('fileupdate', 'fileupdate');
                        }
                        $('#myModal').dialog('close');
                        return false;
                    }
                    else if ($('#attachmentFile')[0].files.length > 0 && $typ == "1") {
                        $($('#tbl_attach tbody tr[bisedit="bisedit"]').find('.filedelete')[0]).click();
                        $('#tbl_attach tbody tr[bisedit="bisedit"]').remove();


                    }

                    var fileTitle = $('#attachmentTitle').val();
                    var fileDesc = $('#attachmentDesc').val();
                    var file = $('#attachmentFile')[0].files[0],
                        fileName = file.name,
                        fileType = file.type,
                        fileSize = file.size;
                    var sizeLimit = 0, fileSizeMsg = '';
                    if (fileType == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' || fileType == 'application/vnd.ms-excel') {
                        sizeLimit = 5242880;
                        fileSizeMsg = "Excel sheet size must be less than 5MB!";
                    }
                    else {
                        sizeLimit = 2097152;
                        fileSizeMsg = "File size must be less than 2MB!";
                    }

                    if (fileSize > sizeLimit) {
                        swal({
                            title: "Error",
                            text: fileSizeMsg,
                            type: "warning"
                        });
                        return false;
                    }

                    var filedata;
                    var input = $('#attachmentFile');
                    var reader = new FileReader();
                    reader.onload = function () {
                        var arrayBuffer = reader.result;

                        arrayBuffer = arrayBuffer.substring(arrayBuffer.indexOf(",") + 1);
                        var base64String = arrayBuffer;
                        var ext = fileName.split('.').pop();
                        //$("#ulFileList").append('<li class="files" fileid="0" fext=".' + ext + '" ftype="' + fileType + '" fname="' + fileName + '" ftitle="' + $('#attachmentTitle').val() + '" fdescription="' + $('#attachmentDesc').val() + '"  base64="' + base64String + '"> <a href="data:' + fileType + ";base64," + base64String + '" download="' + fileName + '">' + fileTitle + '</a>&nbsp;&nbsp;&nbsp;<label class="filedelete" style="cursor:pointer;">Delete File</label><label class="dnload" fileid="0" style="cursor: pointer;float: right; margin-right: 40px;">Download</label></li>');
                        $("#tbl_attach > tbody").append('<tr class="files" fileid="0" fext=".' + ext + '" ftype="' + fileType + '" fname="' + fileName + '" ftitle="' + $('#attachmentTitle').val() + '" fdescription="' + $('#attachmentDesc').val() + '"  base64="' + base64String + '"> <td><a href="data:' + fileType + ";base64," + base64String + '" download="' + fileName + '">' + fileTitle + '</a></td><td><span>' + fileDesc + '</span></td><td><span>' + fileName + '</span></td>\
                                            <td class="clstdEdit"  title="Edit file info.."><center><span class="fileedit zmdi zmdi-edit" style="cursor:pointer;color:#0095eb;font-size: 1.5em;"></span></center></td>\
                                            <td class="clstdDelete"  title="Delete file.."><center><span class="filedelete zmdi zmdi-delete" style="cursor:pointer;color:red;font-size: 1.5em;"></span></center></td>\
                                            <td title="Download file.."><center><span class="dnload zmdi zmdi-format-valign-bottom zmdi-hc-2x" fileid="0" style="cursor: pointer;color:#0095eb;"></span></center></td></tr>');
                        $('#myModal').dialog('close');
                        $('#attachmentTitle').val('');
                        $('#attachmentDesc').val('');
                        $('#attachmentFile').val('');
                        try {
                            if ($.browser.msie) {
                                $('#attachmentFile').replaceWith($('#attachmentFile').clone());
                            }
                            else {
                                $('#attachmentFile').val('');
                            }
                            $('#attachmentFile').html('');
                        } catch (e) {
                            return false;
                        }
                    };
                    reader.readAsDataURL(file);

                });//end of click event







                $('body').off('click', '.filedelete');
                $('body').on('click', '.filedelete', function (e) {
                    e.preventDefault();
                    var fid = $(this).parent().parent().parent().attr('fileid');
                    if (fid != "0") {
                        var pdlist = "";
                        try {
                            //pdlist = $('#ulFileList').attr('dellist');
                            pdlist = $('#tbl_attach').attr('dellist');
                            if (pdlist == "") {
                                pdlist = fid
                            }
                            else {
                                pdlist = pdlist + '½' + fid;
                            }
                            //$('#ulFileList').attr('dellist', pdlist);
                            $('#tbl_attach').attr('dellist', pdlist);
                        } catch (e) {
                            pdlist = fid;
                            //$('#ulFileList').attr('dellist', pdlist);
                            $('#tbl_attach').attr('dellist', pdlist);
                        }
                    }

                    $(this).parent().parent().parent().remove();
                });//END OF DELETE BUTNN


                $('body').off('click', '.dnload');
                $('body').on('click', '.dnload', function (e) {
                    e.preventDefault();
                    var $id = $(this).attr('fileid');
                    var $fname = $(this).attr('fname');

                    if ($id == "0") {
                        var link = $(this).parent().parent().parent().find('a')[0];
                        link.dispatchEvent(new MouseEvent('click', { bubbles: true, cancelable: true, view: window }));
                    }
                    else {


                        var choice = {};
                        choice.url = "https://cppagapiapp.azurewebsites.net/v1/invoice/GetFile/" + $id;
                        choice.type = "GET";
                        choice.responseType = "blob";
                        choice.headers = { "Token": Token };
                        choice.contentType = false;
                        choice.processData = false;
                        choice.success = function (result) {


                            var myUrl = "https://cppagapiapp.azurewebsites.net/content/_Files/" + $id + "." + result.ext;
                            var win = window.open(myUrl, '_blank');
                            if (win) {
                                //Browser has allowed it to be opened
                                win.focus();
                            } else {
                                //Browser has blocked it
                                alert('Please allow popups for this website');
                            }


                            //var link = document.createElement('a');
                            //link.href = 'data:' + result.typ + ';base64,' + result.fdata;
                            //link.download = result.name;
                            //link.dispatchEvent(new MouseEvent('click', { bubbles: true, cancelable: true, view: window }));
                        };//END OF SUCCESS
                        choice.error = function (err) {
                            console.log(err.statusText);
                        };
                        $.ajax(choice);
                    }

                });

                /////////////////////////////////////////////Attachments end
                $('body').off('change', '#ddlVendors');
                $('body').on('change', '#ddlVendors', function (e) {
                    e.preventDefault();
                    if ($('#ddlVendors').val() != null || $('#ddlVendors').val() != undefined) {
                        var fromdata = new FormData();
                        fromdata.append("vls", '0½' + $('#ddlVendors').val());
                        $.ajax({
                            type: "POST",
                            url: "/EMO/AjaxCall" + $(location).attr("search"),
                            data: fromdata,
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                $('#ddlBlocks').html(response);
                                Load_ddlFuel();
                            }
                        });
                    }
                    else {
                        $('#ddlBlocks').html('');
                        $('#ddlFuel').html('');
                        $('#tblContainer').html('');
                    }
                });
                function fnLoadDynamicForm() {
                    if ($('#ddlFuel').val() == "" || $('#ddlFuel').val() == null || $('#ddlFuel').val() == undefined) {
                        $('#tblContainer').html('');
                        alert('rsss');
                        return false;
                    } else {
                        //var fromdata = new FormData();
                        //fromdata.append("vls", '3½' + $('#ddlBlocks').val().split('½')[0] + '½' + $('#ddlFuel').val());
                        //$.ajax({
                        //    type: "POST",
                        //    url: "/EMO/AjaxCall" + $(location).attr("search"),
                        //    data: fromdata,
                        //    contentType: false,
                        //    processData: false,
                        //    success: function (response) {
                        //        $('#tblContainer').html(response);
                        //    }
                        //});
                        LoadGrid();
                    }

                }
                function LoadGrid() {
                    $("#tblContainer").html('<div style="text-align:center;padding:20px;"><img alt="" src="../Content/img/DataLoader.gif" /></div>');

                    var fromdata = new FormData();
                    fromdata.append("vls", '3½' + $('#ddlBlocks').val().split('½')[0] + '½' + $('#ddlFuel').val());
                    var choice = {};
                    choice.url = "/EMO/AjaxCall" + $(location).attr("search");
                    choice.type = "POST";
                    choice.data = fromdata;
                    choice.contentType = false;
                    choice.processData = false;
                    choice.success = function (response) {
                        if ($('#tblJ1').hasClass('dataTable')) {
                            $('#tblJ1').dataTable().fnDestroy();
                        }
                        $('#tblContainer').html(response);

                        $('#tblJ1').removeAttr('class');
                        $('#tblJ1 thead').html('');


                        $('#tblJ1 tbody tr').each(function (index, element) {
                            $($(this).find('td')[2]).html('<input type="text" class="form-control frmx clsFloat" style="background-color:rgb(251, 255, 193);">');
                        });

                    };
                    choice.error = function (err) {
                        console.log(err.statusText);
                    };
                    $.ajax(choice);
                }//End of Load Grid

                $('body').off('change', '#ddlBlocks');
                $('body').on('change', '#ddlBlocks', function (e) {
                    e.preventDefault();
                    Load_ddlFuel();
                });
                function Load_ddlFuel() {
                    if ($('#ddlBlocks').val() != null || $('#ddlBlocks').val() != undefined) {

                        $('#ddlFuel').html('<option value="' + $('#ddlBlocks').val().split('½')[2] + '">' + $('#ddlBlocks').val().split('½')[3] + '</option>');
                        fnLoadDynamicForm();
                    }
                    else {
                        $('#ddlFuel').html('');
                        $('#tblContainer').html('');
                    }
                }
                $(function () {

                    if ($('#btnClose').val() == "0") {
                        //$('#txtIPPTitle').val($('#NameTitlebar').html());
                        if ($('#ddlVendors').val() != null || $('#ddlVendors').val() != undefined) {
                            var fromdata = new FormData();
                            fromdata.append("vls", '0½' + $('#ddlVendors').val());
                            $.ajax({
                                type: "POST",
                                url: "/EMO/AjaxCall" + $(location).attr("search"),
                                data: fromdata,
                                contentType: false,
                                processData: false,
                                success: function (response) {
                                    $('#ddlBlocks').html(response);
                                    Load_ddlFuel();
                                }
                            });
                        }
                        else {
                            $('#ddlBlocks').html('');
                            $('#ddlFuel').html('');
                            $('#tblContainer').html('');
                        }
                    } else {
                        $('#btnSave, #btnSubmit').val($('#btnClose').val().split('½')[0]);
                        $FRM = "";
                        @if (ViewBag.FRM != null) {
                            @: $FRM = @Html.Raw(@ViewBag.FRM);
                        }


//==============================================
                            try {
                                var attachments = $.parseJSON($FRM[0].AttachedFiles);

                                console.log(attachments);
                                 $('#tbl_attach > tbody').html('')
                                if ($FRM[0].APPROVAL_STATUS == "Submitted") {
                                $.each(attachments, function (ati, atj) {

                                    $('#tbl_attach > tbody').append('<tr class="files" fileid="' + atj.WP_FILE_ID + '" fext="' + atj.FILE_EXT + '" ftype="' + atj.FILE_TYPE + '" fname="' + atj.FILES_NAME + '" ftitle="' + atj.FILE_TITLE + '" fdescription="' + atj.FILE_DESCRIPTION + '" base64=""> \
<td><a href="'+ atj.ONLINE_URL + '" download="' + atj.FILES_NAME + ' target="_blank">' + atj.FILES_NAME + '</a></td>\
<td><span>'+ atj.FILE_TITLE + '</span></td>\
<td><span>'+ atj.FILE_DESCRIPTION + '</span></td>\
<td class="clstdEdit" title="Edit file info.."></td>\
<td class="clstdDelete" title="Delete file.." customtooltip="Delete file.."></td>\
<td title="Download file.." customtooltip="Download file.."><center><span class="dnload zmdi zmdi-format-valign-bottom zmdi-hc-2x" fileid="0" style="cursor: pointer;color:#0095eb;"></span></center></td>\
</tr> \
');

                                });
                                }
                                else {
                                                                    $.each(attachments, function (ati, atj) {

                                    $('#tbl_attach > tbody').append('<tr class="files" fileid="' + atj.WP_FILE_ID + '" fext="' + atj.FILE_EXT + '" ftype="' + atj.FILE_TYPE + '" fname="' + atj.FILES_NAME + '" ftitle="' + atj.FILE_TITLE + '" fdescription="' + atj.FILE_DESCRIPTION + '" base64=""> \
<td><a href="'+ atj.ONLINE_URL + '" download="' + atj.FILES_NAME + ' target="_blank">' + atj.FILES_NAME + '</a></td>\
<td><span>'+ atj.FILE_TITLE + '</span></td>\
<td><span>'+ atj.FILE_DESCRIPTION + '</span></td>\
<td class="clstdEdit" title="Edit file info.."><center><span class="fileedit zmdi zmdi-edit" style="cursor:pointer;color:#0095eb;font-size: 1.5em;"></span></center></td>\
<td class="clstdDelete" title="Delete file.." customtooltip="Delete file.."><center><span class="filedelete zmdi zmdi-delete" style="cursor:pointer;color:red;font-size: 1.5em;"></span></center></td>\
<td title="Download file.." customtooltip="Download file.."><center><span class="dnload zmdi zmdi-format-valign-bottom zmdi-hc-2x" fileid="0" style="cursor: pointer;color:#0095eb;"></span></center></td>\
</tr> \
');

                                });
                                }


                            } catch (e) {

                            }
//==============================================

                 if ($FRM[0].APPROVAL_STATUS == "Submitted") {
                $('.rmv').remove();
                $($($('#MainFrm > tbody > tr')[0]).find('td')[1]).removeAttr('colspan');
                $($($('#MainFrm > tbody > tr')[0]).find('td')[1]).attr('style', 'width: 25%;');
                $($('#MainFrm > tbody > tr')[0]).append('<td style="width: 25%;"><label for="Disconame">Submit Date</label></td><td style="width: 25%;">\
                                            <input type="text" value="'+ $FRM[0].SUBMIT_DATE + '" class="form-control" readonly=""></td>');
                $($('.fno')[1]).val($FRM[0].FORECAST_NO);
            }
            else {
                $($('.fno')[1]).val('');
            }
            $('#txtIPPTitle').html($FRM[0].txtIPPTitle).prop('disabled', true);
            $('#ddlVendors').html($FRM[0].ddlVendors).prop('disabled', true);
            $('#dllPeriod').val($FRM[0].EMO_PERIOD_ID);
            $('#dllPeriod').prop('disabled', true);
            $('.fno').show();
            $('#txtsts').val($FRM[0].APPROVAL_STATUS);
            //$('#ddlVendors').val($FRM[0].VENDOR_SITE_ID + "½" + $FRM[0].VENDOR_ID).prop('disabled', true);
            $('#ddlBlocks').html('<option value="' + $FRM[0].PPA_PLANT_EMO_ID + '½' + $FRM[0].BLOCK_TITLE + '½' + $FRM[0].PPA_PLT_BLK_FUEL_ID + '½' + $FRM[0].FUEL_NAME + '">' + $FRM[0].BLOCK_TITLE + '</option>').prop('disabled', true);
            $('#ddlFuel').html('<option value="' + $FRM[0].PPA_PLT_BLK_FUEL_ID + '">' + $FRM[0].FUEL_NAME + '</option>').prop('disabled', true);
            $('#txtrmx').val($FRM[0].REMARKS);





            var $edt = ($FRM[0].APPROVAL_STATUS == "Submitted") ? '' : '<div class="controls center">\
                                                                                <i class="sovedit fa fa-edit" title="Edit"  tbl="tblRates"></i>\
                                                                                <i class="sovdelete fa fa-times" title="Delete"  tbl="tblRates"></i>\
                                                                            </div>';
            try {
                var $BB = $.parseJSON($FRM[0].BB);
                $.each($BB, function (ii, jj) {
                    $('#tblRates tbody').append('<tr tag="' + jj.OPN_STOCK_LINE_ID + '">\
                                            <td tg="'+ jj.STOCK_DESCRIPTION + '">'+ jj.MEANING + '</td>\
                                            <td style="text-align:right;" class="tdComma">'+ jj.QUANTITY + '</td>\
                                            <td style="text-align:right;" class="tdComma">'+ jj.RATE + '</td>\
                                            <td style="text-align:right;" class="tdComma">'+ jj.AMOUNT + '</td>\
                                            <td style="width:40px;">'+ $edt + '</td>\
                                            </tr>');
                });
            } catch (e) {
                console.log('bb');
            }




            $edt = ($FRM[0].APPROVAL_STATUS == "Submitted") ? 'class="form-control" readonly style="text-align:right;"' : 'class="form-control frmx clsFloat" style="background-color:rgb(251, 255, 193);"';
            var $cont = "";

            try {
                var $CC = $.parseJSON($FRM[0].CC);
                $.each($CC, function (mm, nn) {
                    $cont += '<tr tag="' + nn.FORECAST_LINE_ID + '">\
                                                <td></td>\
                                                <td>'+ nn['CDXP.CPPA_EMO_FUEL_TEMP_LINES'][0].COMP_NAME + '</td>\
                                                <td><input type="text" value="'+ nn.CLAIMED_VALUE + '" ' + $edt + '></td>\
                                                <td>'+ nn['CDXP.CPPA_EMO_FUEL_TEMP_LINES'][0].UNIT + '</td>\
                                                </tr>';
                });
            } catch (e) {
                console.log('cc');
            }

            $('#tblContainer').html('<table id="tblJ1"><thead></thead><tbody>' + $cont + '</table>');

            ///999
            $edt = ($FRM[0].APPROVAL_STATUS == "Submitted") ? '' : '<div class="controls center">\
                                                                                <i class="sovedit fa fa-edit" title="Edit" tbl="tblRatesFS"></i>\
                                                                                <i class="sovdelete fa fa-times" title="Delete"  tbl="tblRatesFS"></i>\
                                                                            </div>';
            try {
                var $DD = $.parseJSON($FRM[0].DD);
                $.each($DD, function (kk, ll) {
                    $('#tblRatesFS tbody').append('<tr tag="' + ll.FUEL_RATE_LINE_ID + '">\
                                            <td tg="'+ ll.FUEL_SUPPLIER + '">' + ll.MEANING + '</td>\
                                            <td style="text-align:right;" class="tdComma">'+ ll.QUANTITY + '</td>\
                                            <td style="text-align:right;" class="tdComma">'+ ll.RATE + '</td>\
                                            <td style="text-align:right;" class="tdComma">'+ ll.OTHER_CHARGES + '</td>\
                                            <td style="text-align:right;" class="tdComma">'+ ll.PRODUCT_COST + '</td>\
                                            <td style="width:40px;">'+ $edt + '</td>\
                                            </tr>');
                });
            } catch (e) {
                console.log('dd');
            }

            addComma();



                        }//end of else;
                    });//end of autorun
            //888

            $('body').off('click', '#btnCancelRowOS');
            $('body').on('click', '#btnCancelRowOS', function (e) {
                e.preventDefault();
                $('#txtQty,#txtRate').val('');
                $('#tblRates > tbody > tr').each(function (index, element) {
                    $(this).removeAttr('tgedit');
                });

            });
            $('body').off('click', '#btnCancelRowFS');
            $('body').on('click', '#btnCancelRowFS', function (e) {
                e.preventDefault();
                $('#txtQtyFS,#txtRateFS,#txtTransFS').val('');
                $('#tblRatesFS > tbody > tr').each(function (index, element) {
                    $(this).removeAttr('tgedit');
                });
            });

            $('body').off('click', '#btnAddRowOS');
            $('body').on('click', '#btnAddRowOS', function (e) {
                e.preventDefault();
                var desc =  $('#txtDesc option:selected').text();
                var tg = $('#txtDesc').val();
                var qty = 0.0;
                var price = 0.0;
                if ($('#txtQty').val() == '' || $('#txtQty').val() == null || $('#txtQty').val() == undefined) {
                    swal({
                        title: "Error",
                        text: "Please enter valid Quantity..!",
                        type: "warning",
                        showCancelButton: false,
                        confirmButtonClass: "btn btn-danger",
                        confirmButtonText: "OK"
                    });
                    return false;
                }
                else {
                    qty = parseFloat($('#txtQty').val());
                }
                if ($('#txtRate').val() == '' || $('#txtRate').val() == null || $('#txtRate').val() == undefined) {
                    swal({
                        title: "Error",
                        text: "Please enter valid Rates..!",
                        type: "warning",
                        showCancelButton: false,
                        confirmButtonClass: "btn btn-danger",
                        confirmButtonText: "OK"
                    });
                    return false;
                }
                else {
                    price = parseFloat($('#txtRate').val());
                }

                if ($('#tblRates > tbody > tr[tgedit="1"]').length != 0) {
                    var $tr = $('tr[tgedit="1"]');
                    if ($tr.attr('tag') != "0") {
                        var $tag = $tr.attr('tag');
                        var $dels = $('#tblRates').attr('dels');
                        if ($dels == "" || $dels == undefined || $dels == null) {
                            $('#tblRates').attr('dels', $tag);
                        }
                        else {
                            $('#tblRates').attr('dels', $dels + "½" + $tag);
                        }
                    }
                    $tr.attr('tag', '0');
                    $($tr.find('td')[0]).html($('#txtDesc option:selected').text());
                    $($tr.find('td')[0]).attr('tg', tg);
                    $($tr.find('td')[1]).html($('#txtQty').val());
                    $($tr.find('td')[2]).html($('#txtRate').val());
                    $('#tblRates > tbody > tr').each(function (index, element) {
                        $(this).removeAttr('tgedit');
                    });
                }
                else {
                    removeComma();
                    $('#tblRates tbody').append('<tr tag="0">\
                                            <td tg="'+tg+'">'+ desc + '</td>\
                                            <td style="text-align:right;" class="tdComma">'+ qty + '</td>\
                                            <td style="text-align:right;" class="tdComma">'+ price + '</td>\
                                            <td style="text-align:right;" class="tdComma">'+ (parseFloat(qty) * parseFloat(price)).toString() + '</td>\
                                            <td style="width:40px;"><div class="controls center">\
                                                                                <i class="sovedit fa fa-edit" title="Edit"  tbl="tblRates"></i>\
                                                                                <i class="sovdelete fa fa-times" title="Delete"  tbl="tblRates"></i>\
                                                                            </div></td>\
                                            </tr>');
                    addComma();
                }

                $('#txtQty, #txtRate').val('');
            });
            //===========================
            $('body').off('click', '#btnAddRowFS');
            $('body').on('click', '#btnAddRowFS', function (e) {
                e.preventDefault();
                var descFSv = $('#ddlFuelSupplier').val();
                var descFSd = $('#ddlFuelSupplier option:selected').text();
                var qtyFS = 0.0;
                var priceFS = 0.0;
                var opriceFS = 0.0;
                if ($('#txtQtyFS').val() == '' || $('#txtQtyFS').val() == null || $('#txtQtyFS').val() == undefined) {
                    swal({
                        title: "Error",
                        text: "Please enter valid Quantity..!",
                        type: "warning",
                        showCancelButton: false,
                        confirmButtonClass: "btn btn-danger",
                        confirmButtonText: "OK"
                    });
                    return false;
                }
                else {
                    qtyFS = parseFloat($('#txtQtyFS').val());
                }
                if ($('#txtRateFS').val() == '' || $('#txtRateFS').val() == null || $('#txtRateFS').val() == undefined) {
                    swal({
                        title: "Error",
                        text: "Please enter valid Rate..!",
                        type: "warning",
                        showCancelButton: false,
                        confirmButtonClass: "btn btn-danger",
                        confirmButtonText: "OK"
                    });
                    return false;
                }
                else {
                    priceFS = parseFloat($('#txtRateFS').val());
                }
                if ($('#txtTransFS').val() == '' || $('#txtTransFS').val() == null || $('#txtTransFS').val() == undefined) {
                    swal({
                        title: "Error",
                        text: "Please enter valid Transportation / Other Charges ..!",
                        type: "warning",
                        showCancelButton: false,
                        confirmButtonClass: "btn btn-danger",
                        confirmButtonText: "OK"
                    });
                    return false;
                }
                else {
                    opriceFS = parseFloat($('#txtTransFS').val());
                }
                if ($('#tblRatesFS > tbody > tr[tgedit="1"]').length != 0) {
                    var $tr = $('#tblRatesFS > tbody > tr[tgedit="1"]');
                    if ($tr.attr('tag') != "0") {
                        var $tag = $tr.attr('tag');
                        var $dels = $('#tblRatesFS').attr('dels');
                        if ($dels == "" || $dels == undefined || $dels == null) {
                            $('#tblRatesFS').attr('dels', $tag);
                        }
                        else {
                            $('#tblRatesFS').attr('dels', $dels + "½" + $tag);
                        }
                    }
                    $tr.attr('tag', '0');
                    $($tr.find('td')[0]).html(descFSd);
                    $($tr.find('td')[0]).attr('tg', descFSv);
                    $($tr.find('td')[1]).html(qtyFS);
                    $($tr.find('td')[2]).html(priceFS);
                    $($tr.find('td')[3]).html(opriceFS);
                    $($tr.find('td')[4]).html(((qtyFS * priceFS) + opriceFS).toString());
                    $('#tblRatesFS > tbody > tr').each(function (index, element) {
                        $(this).removeAttr('tgedit');
                    });
                }
                else {
                    removeComma();
                    $('#tblRatesFS tbody').append('<tr tag="0">\
                                            <td tg="'+ descFSv + '">' + descFSd + '</td>\
                                            <td style="text-align:right;" class="tdComma">'+ qtyFS + '</td>\
                                            <td style="text-align:right;" class="tdComma">'+ priceFS + '</td>\
                                            <td style="text-align:right;" class="tdComma">'+ opriceFS + '</td>\
                                            <td style="text-align:right;" class="tdComma">'+ ((qtyFS * priceFS) + opriceFS).toString() + '</td>\
                                            <td style="width:40px;"><div class="controls center">\
                                                                                <i class="sovedit fa fa-edit" title="Edit" tbl="tblRatesFS"></i>\
                                                                                <i class="sovdelete fa fa-times" title="Delete"  tbl="tblRatesFS"></i>\
                                                                            </div></td>\
                                            </tr>');
                    addComma();
                }

                $('#txtDescFS, #txtQtyFS, #txtRateFS, #txtTransFS').val('');





            });//END OF BTN CLICK
            //==================================================================================
            //$('body').off('click', '.sovdelete');
            //$('body').on('click', '.sovdelete', function (e) {
            //    e.preventDefault();
            //    $(this).parent().parent().parent().remove();
            //});
            $('body').off('click', '.sovdelete');
            $('body').on('click', '.sovdelete', function (e) {
                e.preventDefault();
                var $btn = $(this);
                var $tag = $btn.parent().parent().parent().attr('tag');
                if ($tag == "0") {
                    $btn.parent().parent().parent().remove();
                }
                else {
                    var $dels = $("#" + $btn.attr('tbl')).attr('dels');
                    if ($dels == "" || $dels == undefined || $dels == null) {
                        $("#" + $btn.attr('tbl')).attr('dels', $tag);
                    }
                    else {
                        $("#" + $btn.attr('tbl')).attr('dels', $dels + "½" + $tag);
                    }
                }

            });
            //=======================================
            $('body').off('click', '.sovedit');
            $('body').on('click', '.sovedit', function (e) {
                e.preventDefault();
                removeComma();

                var $tr = $(this).parent().parent().parent();
                $("#" + $(this).attr("tbl") + " > tbody > tr").each(function (index, element) {
                    $(this).removeAttr('tgedit');
                });
                $tr.attr('tgedit', '1');
                if ($(this).attr('tbl') == "tblRates") {
                    $('#txtDesc').val($($tr.find('td')[0]).attr('tg'));
                    $('#txtQty').val($($tr.find('td')[1]).html());
                    $('#txtRate').val($($tr.find('td')[2]).html());
                }
                else {
                    $('#ddlFuelSupplier').val($($tr.find('td')[0]).attr('tg'));
                    $('#txtQtyFS').val($($tr.find('td')[1]).html());
                    $('#txtRateFS').val($($tr.find('td')[2]).html());
                    $('#txtTransFS').val($($tr.find('td')[3]).html());
                }
                addComma();
            });
            $('body').off('click', '.clsAction');
            $('body').on('click', '.clsAction', function (e) {
                e.preventDefault();
                var m1 = "";
                var m2 = "";
                if ($(this).attr("id") == "btnClose") {
                    var options = {};
                    $("#pageContainer").hide('slide', options, 300);
                    $.ajax({
                        url: "/EMO/FuelRatesFromGC" + $(location).attr('search'),
                        success: function (result) {

                            var options = {};
                            $('#pageContainer').html($(result).find('#pcontent').html());
                            $("#pageContainer").show('slide', options, 500);
                        }
                    });
                    return false;
                }

                if ($(this).attr("id") == "btnSave") {
                    m1 = "Save";
                    m2 = "Saved";
                }
                else {
                    m1 = "Submit";
                    m2 = "Submitted";
                }


                if ($('#ddlBlocks').val() == null || $('#ddlBlocks').val() == undefined) {
                    swal({
                        title: "Error",
                        text: "Block is not selected!",
                        type: "warning",
                        showCancelButton: false,
                        confirmButtonClass: "btn btn-danger",
                        confirmButtonText: "OK",
                        onAfterClose: () => {
                            setTimeout(() => $('#invoiceDate').focus(), 100);
                        }
                    });
                    return false;
                }

                var emptycheck = true;
                $('.frmx').each(function (index, element) {
                    if ($(this).val() == '') {
                        emptycheck = false;
                        swal({
                            title: "Error",
                            text: "Forecast cannot be empty!",
                            type: "warning",
                            showCancelButton: false,
                            confirmButtonClass: "btn btn-danger",
                            confirmButtonText: "OK",
                            onAfterClose: () => {
                                setTimeout(() => $('#invoiceDate').focus(), 100)
                            }
                        });
                        return false;
                    }

                });
                if (emptycheck == false) {
                    return false;
                }

                var $dta1 = '5½' + $(this).val() + '½' + $(this).attr('tag') + '½';
                $('.frm').each(function (index, element) {
                    $dta1 += $(this).val() + '½';
                });
                $dta1 += '¼';
                $dta1 = $dta1.replace('½¼', '');
                var $dta2 = '';
                $('#tblRates tbody tr[tag="0"]').each(function (index, element) {
                    var $tr = $(this);
                    var $O0 = $($tr.find('td')[0]).attr('tg');
                    var $O1 = $($tr.find('td')[1]).html().replace(/,/g, '');
                    var $O2 = $($tr.find('td')[2]).html().replace(/,/g, '');
                    var $O3 = $($tr.find('td')[3]).html().replace(/,/g, '');
                    $dta2 += $O0 + '½' + $O1 + '½' + $O2 + '½' + $O3 + '│';
                });
                if ($dta2 != "") {
                    $dta2 += '¼';
                    $dta2 = $dta2.replace('│¼', '');
                }
                var $dta3 = '';
                $('.frmx').each(function (index, element) {

                    var $f0 = $(this).parent().parent().attr('tag').replace(/,/g, '');
                    var $f1 = $(this).val().replace(/,/g, '');
                    $dta3 += $f0 + '½' + $f1 + '│';
                });
                if ($dta3 != "") {
                    $dta3 += '¼';
                    $dta3 = $dta3.replace('│¼', '');
                }
                var $dta4 = '';
                $('#tblRatesFS tbody tr[tag="0"]').each(function (index, element) {
                    var $tr = $(this);
                    var $s0 = $($tr.find('td')[0]).attr('tg');
                    var $s1 = $($tr.find('td')[1]).html().replace(/,/g, '');
                    var $s2 = $($tr.find('td')[2]).html().replace(/,/g, '');
                    var $s3 = $($tr.find('td')[3]).html().replace(/,/g, '');
                    var $s4 = $($tr.find('td')[4]).html().replace(/,/g, '');


                    $dta4 += $s0 + '½' + $s1 + '½' + $s2 + '½' + $s3 + '½' + $s4 + '│'
                });
                if ($dta4 != "") {
                    $dta4 += '¼';
                    $dta4 = $dta4.replace('│¼', '');
                }



                var $dta5 = '';
                if ($('#tblRates').attr('dels') == null || $('#tblRates').attr('dels') == undefined || $('#tblRates').attr('dels') == "") {
                    $dta5 = '';
                }
                else {
                    $dta5 = $('#tblRates').attr('dels');
                }
                var $dta6 = '';
                if ($('#tblRatesFS').attr('dels') == null || $('#tblRatesFS').attr('dels') == undefined || $('#tblRatesFS').attr('dels') == "") {
                    $dta6 = '';
                }
                else {
                    $dta6 = $('#tblRatesFS').attr('dels');
                }

                var fls = "";
                $('.files[fileid="0"]').each(function (iii, jjj) {
                    fls += $(this).attr('fext') + "½" + $(this).attr('ftype') + "½" + $(this).attr('fname') + "½" + $(this).attr('ftitle') + "½" + $(this).attr('fdescription') + "½" + $(this).attr('base64') + "¼";
                });
                if (fls.endsWith('¼')) {
                    fls += '¡';
                    fls = fls.replace('¼¡', '');
                }
                debugger;
                var fromdata = new FormData();
                fromdata.append("vls", $dta1);
                fromdata.append("vls2", $dta2);
                fromdata.append("vls3", $dta3);
                fromdata.append("vls4", $dta4);
                fromdata.append("vls5", $dta5);
                fromdata.append("vls6", $dta6);
                fromdata.append("fls", encodeURIComponent(fls));

                swal({
                    title: "Are you sure?",
                    text: "Do you really want to " + m1 + " Record?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Yes, Save it!",
                    closeOnConfirm: false
                },
                    function () {
                        $('.sa-button-container').hide();
                        $.ajax({
                            type: "POST",
                            url: "/EMO/EMOjaxCall" + $(location).attr("search"),
                            data: fromdata,
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                $('.sa-button-container').show();
                                swal("Success!", "Record has been " + m2 + " Successfully.", "success");
                                var options = {};
                                $("#pageContainer").hide('slide', options, 300);
                                $.ajax({
                                    url: "/EMO/FuelRatesFromGC" + $(location).attr('search'),
                                    success: function (result) {

                                        var options = {};
                                        $('#pageContainer').html($(result).find('#pcontent').html());
                                        $("#pageContainer").show('slide', options, 500);
                                    }
                                });
                            }
                        });

                    }
                );


            });//end of click



            function removeComma() {
                $('.tdComma').each(function (index, element) {
                    var $val = $(this).html().replace(/,/g, '');
                    $(this).html($val);
                });
            }
            function addComma() {
                $('.tdComma').each(function (index, element) {
                    var $val = $(this).html().replace(/,/g, '');
                    $val = numberWithCommas($val);
                    $(this).html($val);
                });
            }
            function numberWithCommas(x) {
                // return x.toString().replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                x = x.toString();
                if (x % 1 == 0) {
                    if (x.indexOf(".") < 0) {
                        x = x.replace(/\D-/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                        x += ".0000";
                    } else {
                        x = x.replace('.0000', '');
                        x = x.replace(/\D-/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                        x += ".0000";

                    }
                } else {
                    var index = x.indexOf(".");
                    var p1 = x.substring(0, index);
                    p1 = p1.replace(/\D-/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                    var p2 = x.substring(index);
                    p2 = p2 + "0000";
                    p2 = p2.substring(0, 5);
                    x = p1 + p2;
                }
                return x;
            }
                            });//end of doc ready
        </script>
    </div>
</div>




